.header-content .login-box {
    font-style: italic;
    font-size: 1.3em;
}

.header-content .login-box img {
    margin-bottom: 1.5em;
}

section#about a, section#terms a {
    color: #eb3812;
}

section#partners img#cybera {
    width: 300px;
    height: 100px;
    margin-top: 40px;
}
