<section class="primary" id="languages">   
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <h2 class="section-heading hidden">Languages</h2>
                <div class="partners-box">
                    <a href="http://julialang.org/" target="_blank" >
                    <img src="/img/portfolio/julia-logo.png" class="wow zoomIn" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="partners-box">
                    <a href="https://www.python.org/" target="_blank" >
                    <img src="/img/portfolio/python-logo.png" class="wow zoomIn" alt=""></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="partners-box">
                    <a href="https://www.r-project.org/" target="_blank" >
                    <img src="/img/portfolio/r-logo.svg" class="wow zoomIn" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
