<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Brought to Canada's Research Community by</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="partners-box">
                    <a href="http://www.pims.math.ca/" target="_blank" >
                    <img src="/img/portfolio/PIMS-circle-with-wordmark-CAPS.png" class="wow zoomIn" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="partners-box">
                    <a href="https://www.cybera.ca/" target="_blank" >
                    <img src="/img/cybera-main.jpg" class="wow zoomIn" alt="" id="cybera"></a>
                </div>
            </div>
        </div>
    </div>
</section>
