<section class="bg-primary" id="terms">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading hidden">Terms and conditions/Privacy policy</h2>
                <!-- <hr class="light"> -->
                <p class="text">The University of Victoria is committed to
                treating  information in accordance with FIPPA and the
                university’s privacy policy. The collection of personal
                information by the University of Victoria is in accordance with
                section 26 of the Freedom of Information and Protection of
                Privacy Act (FIPPA) and the University Act. The university uses
                the personal information for the purposes of providing
                educational and related services. For a detailed listing of the
                collection purposes see Schedule A, Procedures for the
                Management of Personal Information on the University
                Secretary’s website. Should you have any questions concerning
                your personal information please contact the access and privacy
                office at <a href="mailto:foipp@uvic.ca">foipp@uvic.ca</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
