body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

header h3 {
    font-size: 1.5rem;
}

header h4 {
    font-size: 1.25rem;
}

nav#mainNav {
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    background-color: #fff;
    /*box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);*/
    box-shadow: 0;
}

#mainNav .navbar-brand,
#mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.7);
}

header {
    min-height: 100%;
}

header .header-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 50px;
    text-align: center;
    width: 100%;
}

div.login-box img {
    height: 100px;
}


div.partners-box img {
    height: 200px;
}

section {
    padding: 100px 0;
}

hr.primary {
    border-color: #3a22a6;
    border-width: 3px;
    max-width: 50px;
}

section.bg-primary {
    color: #FFF;
}

.fa-ul>li {
    display: inline-block;
}
