<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <div class="list-box">
          <ul class="fa-ul">
            <li>
              <i class="fa fa-li fa-book"></i>
              <div class="description">
                <p>Interactive computing notebooks</p>
              </div>
            </li>
            <li>
              <i class="fa fa-li fa-cloud"></i>
              <div class="description">
                <p>Research tools accessible via browser</p>
              </div>
            </li>
            <li>
              <i class="fa fa-li fa-flask"></i>
              <div class="description">
                <p>Python 3 & R programming languages</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="list-box">
          <ul class="fa-ul">
            <li>
              <i class="fa fa-li fa-cogs"></i>
              <div class="description">
                <p>Hosted by Compute Canada</p>
              </div>
            </li>
            <li>
              <i class="fa fa-li fa-university"></i>
              <div class="description">
                <p>Sign in with your Wilfred Laurier University credentials</p>
              </div>
            </li>
            <li>
              <i class="fa fa-li fa-users"></i>
              <div class="description">
                <p>Built for collaboration</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

