<section id="languages">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <div class="partners-box">
          <a href="https://julialang.org/" target="_blank">
            <img src="/img/julia-logo.png" class="animate__animated animate__zoomIn" alt="Julia logo">
          </a>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="partners-box">
          <a href="https://www.python.org/" target="_blank">
            <img src="/img/python-logo.png" class="animate__animated animate__zoomIn" alt="Python logo">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
