{{ $show_navbar := site.Params.main_menu.enable | default true }}
{{ if $show_navbar }}

<nav class="navbar navbar-expand-lg navbar-light compensate-for-scrollbar fixed-top" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ site.Title }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            {{ range site.Menus.main }}
            {{ if not (eq .URL "/") }}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ .URL | relLangURL }}">
                {{ .Name | safeHTML }}
              </a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>

  </div>
</nav>
{{ end }}
