<section id="partners">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-heading">Brought to Canada's Research Community by</h2>
        <hr class="primary mt-3">
      </div>
    </div>
    <div class="row mt-5"></div>
    <div class="row">
      <div class="col-sm-6 text-center">
        <div class="partners-box">
          <a href="https://www.pims.math.ca" target="_blank">
            <img src="/img/pims-logo.png" class="animate__animated animate__zoomIn" alt="PIMS logo">
          </a>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="partners-box">
          <a href="https://www.computecanada.ca" target="_blank">
            <img src="/img/compute-canada-logo.png" class="animate__animated animate__zoomIn" alt="Compute Canada logo">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
